body {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

header img {
  width: 200px;
  height: 200px;
}

header h1 {
  color: blueviolet;
}

main {
  color: white;
  width: 52%;
  padding: 30px;
  background-color: blueviolet;
  text-align: left;
  margin: 20px auto 10px auto;
  border-radius: 20px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 14px 0;
  padding-left: 10px;
  border-left: 5px solid transparent;
}

.bullet-points {
  border-color: yellow;
  color: chartreuse;
}

span {
    background-color: beige;
    color: black;
    border-radius: 2px;
    padding: 3px
}